<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logsRootPath" value="D:\\compensacion\\logs\\"/>
    <add key="logFileName" value="compensacionLogs"/>
    <add key="formatLogFileName" value="ddMMyyyy"/>
    <add key="extLogFile" value=".txt"/>
  </appSettings>
</configuration>