<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionBD.Properties.Settings.FundamentosCSharpConnectionString"
            connectionString="Data Source=FENIX\SQLEXPRESS2019;Initial Catalog=FundamentosCSharp;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>